commands:
  01_download_from_s3:
    command: >
      aws s3 cp s3://verdant-crowd-strike/falcon-sensor-6.53.0-15003.amzn2.x86_64.rpm /tmp/
  02_install_crowdstrike:
    command: >
      rpm -qa | grep -qw falcon-sensor-6.53.0-15003.amzn2.x86_64 || (sudo yum install -y /tmp/falcon-sensor-6.53.0-15003.amzn2.x86_64.rpm && sudo /opt/CrowdStrike/falconctl -s --cid=A46240E05EC84E5C9D24717F58C77A5B-65)
  03_restart_crowdstrike:
    command: >
      sudo systemctl restart falcon-sensor